.bottom-content
  %form.contact-form
    %h2.heading-name 注文者情報を記入して下さい
    name
    %input.small-field{:placeholder => "name", :type => "text"}/
    address
    %input.small-field{:placeholder => "e-mail", :type => "text"}/
    支払い方法
    %textarea.large-field{:placeholder => "message"}
    %input.send{:type => "submit", :value => "注文を確定"}/

